.demo {
  text-align: center;
}

.demo_options {
  margin-bottom: 30px;
}

.demo_label,
.demo_select {
  margin-right: 10px;
}

.demo_circle {
  color: white;
  display: inline-block;
  height: 100px;
  width: 100px;
  line-height: 100px;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
